.container{
    min-height: 100vh;
    padding: 24px;
    background: var(--primary-bg-color);
    display: flex;
    flex-direction: column;
    margin: 20px;
}
.container h1{
    color:#fff;
    margin-bottom: 10px;
}
.transactionsWrapper{
    /* grid-template-columns: 2fr,1fr;  */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}
.cardsWrapper{
    display:grid;
    grid-template-columns: repeat(3,1fr);
    padding: 48px;
    gap:32px;
    border-radius: 10px;
    background: #626262;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    margin-bottom: 32px;
}


@media(max-width:767px){
    .container h1{
        text-align: center;
    }
    .cardsWrapper{
        padding: 16px;
         grid-template-columns: 1fr; 
        gap:24px;
        flex-direction: column;
    }
    .transactionsWrapper{
         grid-template-columns: 1fr; 
        flex-direction: column;
    }
}