.barWrapper{
    padding: 5px 20px;
    border-radius: 10px;
    background: #fff;
    width:100%;
    display: flex;
    justify-content:center;
}.barContainer{
    display: flex;
    justify-content: center;
}

.expenseChart{
    font-style: italic;
    font-size: 28px;
    color:#fff;
    margin-bottom: 10px;
    width:35%;
}
@media (max-width:767px){
    .expenseChart h2 {
        text-align: center;
    }
}