.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    background-color: var(--secondary-bg-color);
    border-radius: 15px;
    box-shadow: 0 4px 4px rgba(0,0,0,0.25);
    padding: 45px 20px;
}
.cardTitle{
    color: #ffffff;
    margin-bottom: 12px;
    font-weight: 400;
    font-size: 30px;
}
.cardTitle span{
    font-weight: 700;
}
.success{
    color:#9dff5b;
}
.failure{
    color:#f4bb4a;
}
@media (max-width:767px){
    .card{
        padding: 35px 10px;
    }
    .cardTitle {
        font-size: 24px;
    }
}